<td class="p-1 px-2 text-xs font-normal text-gray-600 whitespace-nowrap dark:text-gray-400">
    {% if splitTransaction is defined %}{% endif%}
</td>
<td class="p-1 px-2 text-xs font-normal text-gray-600 whitespace-nowrap dark:text-gray-400">
    {{ transaction.valutaDate|date('d.m.Y') }}
</td>
<td class="p-1 px-2 text-xs font-normal text-gray-600 whitespace-nowrap dark:text-gray-400">
    {% if splitTransaction is defined %}
        {% set popOverId = splitTransaction.id %}
    {% else %}
        {% set popOverId = transaction.id %}
    {% endif%}
    <span data-popover-target="popover-transaction-{{ popOverId }}">{{ transaction.name }}</span>

    <div
        data-popover id="popover-transaction-{{ popOverId }}"
        role="tooltip"
        class="absolute z-30 invisible inline-block text-xs text-gray-500 transition-opacity duration-300 bg-white border border-gray-200 rounded-lg shadow-sm opacity-0 w-80 dark:bg-gray-800 dark:border-gray-600 dark:text-gray-400"
    >
        <div class="px-3 py-2 text-wrap text-ellipsis overflow-hidden ...">
            <p>{{ transaction.descriptionRaw|replace({'/': ' ', '+' : ' '}) }}</p>
        </div>
        <div data-popper-arrow></div>
    </div>
</td>
<td
    class="p-1 px-2 text-xs font-normal text-gray-600 whitespace-nowrap dark:text-gray-400"
    data-action="click->grid#showDropdown"
    data-transaction-id="{{ transaction.id }}"
    data-split-transaction-id="{% if splitTransaction is defined %}{{ splitTransaction.id }}{% else %}0{% endif %}"
    data-transaction-category-id="{% if splitTransaction is defined and splitTransaction.category %}{{ splitTransaction.category.id }}{% elseif transaction.category %}{{ transaction.category.id }}{% endif %}"
>
    {% if splitTransaction is defined %}
        {{ splitTransaction.category.name }}
    {% elseif transaction.category %}
        {{ transaction.category.name }}
    {% endif %}
</td>
<td class="p-1 px-2 pe-4 text-xs font-normal text-right text-gray-600 whitespace-nowrap dark:text-gray-400">
    {% if transaction.isCredit %}
        {% set fontClass = 'text-green-500' %}
    {% else %}
        {% set fontClass = 'text-red-600' %}
    {% endif %}

    {% if splitTransaction is defined %}
        <span class="font-semibold {{ fontClass }}">{{ splitTransaction.amountAsCurrency|format_currency('EUR', {}) }}</span>
    {% else %}
        <span class="font-semibold {{ fontClass }}">{{ transaction.amountAsCurrency|format_currency('EUR', {}) }}</span>
    {% endif %}
</td>