{% extends 'base.html.twig' %}

{% macro sortArrow(sortName, sort, sortDirection) %}
    {% if sort == sortName %}
        {% if sortDirection == 'asc' %}
            <svg xmlns="http://www.w3.org/2000/svg" class="inline-block w-4 h-4" width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round">
                <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
                <path d="M6 15l6 -6l6 6"></path>
            </svg>
        {% else %}
            <svg xmlns="http://www.w3.org/2000/svg" class="inline-block w-4 h-4" width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round">
                <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
                <path d="M6 9l6 6l6 -6"></path>
            </svg>
        {% endif %}
    {% else %}
        <!-- up and down arrow svg -->
        <svg xmlns="http://www.w3.org/2000/svg" class="inline-block w-4 h-4 text-slate-300" width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round">
            <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
            <path d="M8 9l4 -4l4 4"></path>
            <path d="M16 15l-4 4l-4 -4"></path>
        </svg>
    {% endif %}
{% endmacro %}

{% block header %}
    {% include '_header.html.twig' %}
{% endblock %}

{% block body %}
<twig:MonthPicker></twig:MonthPicker>

<turbo-frame
    id="transaction-list"
    class="aria-busy:opacity-50 aria-busy:blur-sm transition-all"
    data-controller="grid"
    data-action="click@window->grid#hide"
>
    <table class="min-w-full divide-y divide-gray-200 table-fixed dark:divide-gray-600">
    <thead>
    <tr>
        <th scope="col" class="sticky top-16 p-2 text-xs font-medium text-left text-gray-500 dark:text-gray-400 bg-gray-100 dark:bg-gray-700"></th>
        <th scope="col" class="sticky top-16 p-2 text-xs font-medium text-left text-gray-500 dark:text-gray-400 bg-gray-100 dark:bg-gray-700">
            <a href="{{ path('app_grid_monthly', {
                ...app.request.query.all(),
                sort: 'valutaDate',
                sortDirection: sort == 'valutaDate' and sortDirection == 'asc' ? 'desc' : 'asc',
            }) }}">
                Valuta date {{ _self.sortArrow('valutaDate', sort, sortDirection) }}
            </a>
        </th>
        <th scope="col" class="sticky top-16 p-2 text-xs font-medium text-left text-gray-500 dark:text-gray-400 bg-gray-100 dark:bg-gray-700">Recipient</th>
        <th scope="col" class="sticky top-16 p-2 text-xs font-medium text-left text-gray-500 dark:text-gray-400 bg-gray-100 dark:bg-gray-700">
            <a href="{{ path('app_grid_monthly', {
                ...app.request.query.all(),
                sort: 'category',
                sortDirection: sort == 'category' and sortDirection == 'asc' ? 'desc' : 'asc',
            }) }}">
                Category {{ _self.sortArrow('category', sort, sortDirection) }}
            </a>
        </th>
        <th scope="col" class="sticky top-16 p-2 pe-4 text-xs font-medium text-right text-gray-500 dark:text-gray-400 bg-gray-100 dark:bg-gray-700">Amount</th>
    </tr>
    </thead>
    <tbody class="bg-white divide-y divide-gray-200 dark:bg-gray-800 dark:divide-gray-700">
    {% for transaction in transactions %}
        <tr
            class="odd:bg-white odd:dark:bg-gray-900 even:bg-gray-50 even:dark:bg-gray-800 border-b dark:border-gray-700 hover:bg-yellow-100 dark:hover:bg-gray-600"
            id="transaction-list-item-{{ transaction.id }}"
        >
            {% include 'grid/_row.html.twig' %}
        </tr>
    {% else %}
        <tr>
            <td colspan="5" class="p-4 text-xs font-medium text-left text-gray-500 uppercase dark:text-gray-400">No records found</td>
        </tr>
    {% endfor %}
    </tbody>
</table>

    {% include 'grid/_categoryDropdown.html.twig' %}
</turbo-frame>
{% endblock %}
