<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}{% endblock %}</title>
        <link href="data:image/x-icon;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAQEAYAAABPYyMiAAAABmJLR0T///////8JWPfcAAAACXBIWXMAAABIAAAASABGyWs+AAAAF0lEQVRIx2NgGAWjYBSMglEwCkbBSAcACBAAAeaR9cIAAAAASUVORK5CYII=" rel="icon" type="image/x-icon" />
        {% block stylesheets %}
        {% endblock %}

        {% block javascripts %}
            {% block importmap %}{{ importmap('app') }}{% endblock %}
        {% endblock %}
    </head>
    <body class="bg-gray-50 dark:bg-gray-800">
        <div class="flex bg-gray-50 dark:bg-gray-900">

            {% include '_navigation.html.twig' %}

            <div id="main-content" class="relative w-full h-full bg-gray-50 lg:ml-52 dark:bg-gray-900">
                <main>{% block body %}{% endblock %}</main>
            </div>
        </div>

        <twig:FormDrawer :closeButton="true">
            <turbo-frame
                id="form-drawer"
                data-form-drawer-target="dynamicContent"
                data-action="turbo:before-fetch-request->form-drawer#showLoading"
                class="aria-busy:opacity-50 transition-opacity"
                data-turbo-form-redirect="true"
            >
                <turbo-stream action="append" target="flash-container">
                    <template>{{ include('_flashes.html.twig') }}</template>
                </turbo-stream>
                {% for stream in app.flashes('stream') %}
                    {{ stream|raw }}
                {% endfor %}
            </turbo-frame>
            <twig:block name="loading_template">
                <div class="bg-space-pattern bg-cover rounded-lg p-8">
                    <div class="space-y-2">
                        <div class="h-4 bg-gray-700 rounded w-3/4 animate-pulse"></div>
                        <div class="h-4 bg-gray-700 rounded animate-pulse"></div>
                        <div class="h-4 bg-gray-700 rounded animate-pulse"></div>
                        <div class="h-4"></div>
                        <div class="h-4 bg-gray-700 rounded animate-pulse"></div>
                        <div class="h-4 bg-gray-700 rounded w-1/2 animate-pulse"></div>
                        <div class="h-4 bg-gray-700 rounded w-3/4 animate-pulse"></div>
                        <div class="h-4"></div>
                        <div class="h-4 bg-gray-700 rounded w-1/2 animate-pulse"></div>
                    </div>
                </div>
            </twig:block>
        </twig:FormDrawer>

        <twig:Modal>
            <turbo-frame
                id="mdl"
                data-mdl-target="dynamicContent"
                class="aria-busy:opacity-50 transition-opacity"
                data-turbo-form-redirect="true"
            >
                <turbo-stream action="append" target="flash-container">
                    <template>{{ include('_flashes.html.twig') }}</template>
                </turbo-stream>
                {% for stream in app.flashes('stream') %}
                    {{ stream|raw }}
                {% endfor %}
            </turbo-frame>
        </twig:Modal>

        <div id="flash-container">
            {% include '_flashes.html.twig' %}
        </div>
    </body>
</html>
